{% extends 'templates/layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="h-full bg-linear-to-r from-amber-200 to-orange-200 flex items-center">
  <div class="m-auto w-sm bg-white shadow rounded-lg p-6">
    <h1 class="text-xl font-semibold text-gray-900 mb-1">Sign in</h1>

    <form method="post" class="space-y-4">
      {{ csrf_input }}
      {{ form.as_p() }}

      <button type="submit"
              class="w-full rounded-md bg-orange-600 px-4 py-2 text-white font-medium hover:bg-orange-700 focus:outline-none">
        Sign in
      </button>
    </form>
  </div>
</div>
  
{% endblock %}


