<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="#">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  <style src="{{ static('css/index.css') }}"></style>
  <script src="{{ static('js/index.js') }}"></script>
  <title>Sample - {% block title %}{% endblock %}</title>
  {% block styles %}
  {% endblock %}

</head>

<body class="min-h-screen bg-gray-100 flex">
  <!-- {% if request.user.is_authenticated %} -->
  <!--  Sidebar Navigation Component -->
  <!-- Top Header Component -->
  <!-- {% endif %} -->
  {% include 'templates/layouts/sidebar.html' %}
  <main class="grow transition-all ease-in-out overflow-auto">
    {% block content %}{% endblock %}
  </main>
</body>
{% block scripts %}
{% endblock %}
</html>