{% from 'templates/components/table/body.html' import table_body %}
{% macro table(
    title='',
    filters=[],
    columns=[],
    rows=[],
    sort='',
    sort_direction='',
    partial_url='',
    actions=[],
    bulk_actions=[],
    row_actions=[],
    page_index=0,
    page_size=10,
    total_count=0
) %}
<div class="bg-white shadow-sm rounded-lg border border-gray-200" x-id="['table', 'filter']" :hx-include="'#' + $id('filter')">
    <div class="px-6">
        <h1 class="text-4xl font-semibold my-4">{{ title }}</h1>
        <form :id="$id('filter')" class="my-2 flex flex-wrap gap-4" hx-get="{{ partial_url }}" :hx-target="'#' + $id('table')"
            hx-push-url="false" hx-trigger="change" @submit.prevent>
            {# Dynamic filters #}
            {% for filter in filters|default([]) %}
            {% if filter.type != 'hidden' %}
            <div class="filter-wrapper flex-1 min-w-0 {% if filter.type == 'daterange' %}flex-[1_1_100%]{% else %}min-w-[200px]{% endif %}" 
                 data-filter-type="{{ filter.type }}"
                 data-filter-name="{{ filter.name }}">
            </div>
            {% endif %}
            {% endfor %}
            
            {# Persist paging/sort in form #}
            <input type="hidden" name="sort" value="{{ sort }}">
            <input type="hidden" name="sort_direction" value="{{ sort_direction }}">
        </form>
        
        {# Table Actions (Buttons below search/filters) - chỉ hiển thị actions có scope='table' #}
        {% if actions %}
        <div class="mb-4 flex flex-wrap gap-2 justify-end">
            {% for action in actions %}
            {% endfor %}
        </div>
        {% endif %}

    </div>
    {{ table_body(
        id=id,
        filter_id=filter_id,
        columns=columns,
        rows=rows,
        sort=sort,
        sort_direction=sort_direction,
        partial_url=partial_url,
        bulk_actions=bulk_actions,
        row_actions=row_actions,
        page_index=page_index,
        page_size=page_size,
        total_count=total_count,
    ) }}
</div>
{% endmacro %}