<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
  <script>
    function filterHTMXSwap(event, element, callback) {
      if (element.getAttribute('hx-target') === "#" + event.detail.target.id) {
        callback();
      }
    }
  </script>
  <title>Sample - {% block title %}{% endblock %}</title>
  {% block styles %}
  {% endblock %}

</head>

<body class="bg-gray-50 flex" x-data="{ modalOpen: false, sidebarOpen: false }">
  {% if request.user.is_authenticated %}
  <!--  Sidebar Navigation Component -->
  {% include 'templates/components/nav_rail.html' %}
  <!-- Top Header Component -->
  {% include 'templates/components/header.html' %}
  {% endif %}
  <div class="grow transition-all overflow-auto {% if request.user.is_authenticated %}mt-16 lg:ml-16 p-6 {% endif %}" :class="sidebarOpen ? 'lg:ml-64' : ''">
    {# Page Content #}
    {% block content %}
    {% endblock %}
  </div>
  <!-- Global Modal -->
  {% include 'templates/components/modal.html' %}

</body>
{% block scripts %}
{% endblock %}

</html>