<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
  <script>
    function filterHTMXSwap(event, element, callback) {
      if (element.getAttribute('hx-target') === "#" + event.detail.target.id) {
        callback();
      }
    }
  </script>
  <title>Sample - {% block title %}{% endblock %}</title>
  {% block styles %}
  {% endblock %}

</head>

<body class="bg-gray-50" x-data="{ modalOpen: false }">
  <!-- Header -->
  {% if not request.user.is_authenticated %}
  {% include 'templates/components/header.html' %}
  {% endif %}
  <!-- Main Content -->
  <main>
    <!-- Nav Rail -->
    {% if not request.user.is_authenticated %}
    {% include 'templates/components/nav_rail.html' %}
    {% endif %}
    <div
      class="{{ 'ml-16 peer-checked:ml-64 transition-all duration-200 ease-in-out grow overflow-x-auto ' if not request.user.is_authenticated else '' }}py-6 sm:px-6 lg:px-8">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!-- Global Modal -->
  {% include 'templates/components/modal.html' %}

</body>
{% block scripts %}
{% endblock %}

</html>