{# Jinja2 template - no need for load statements #}
<input type="checkbox" id="nav-rail-toggle" class="hidden peer" checked>
<aside class="fixed z-15 h-full w-16 bg-white shadow-md
           transition-all duration-200 ease-in-out overflow-auto

           /* Set common rules for each nav link to avoid layout shift */
          

           /* initial state for label (collapsed) */
           [&_.nav-label]:w-0 [&_.nav-label]:opacity-0 [&_.nav-label]:overflow-hidden [&_.nav-label]:whitespace-nowrap
           [&_.nav-label]:transition-all [&_.nav-label]:duration-200

           /* expanded state when peer (checkbox) is checked */
           peer-checked:w-64
           peer-checked:[&_.nav-label]:w-fit peer-checked:[&_.nav-label]:opacity-100 peer-checked:[&_.nav-label]:ml-2">

    <nav class="w-full">
        <label for="nav-rail-toggle" class="flex items-center h-16 px-4">
            <div class="w-6 h-6 flex-shrink-0">{% include 'menu.svg' %}</div>
            <!-- Logo Placeholder -->
            <a href="{{ url('home') }}" class="nav-label m-auto!">
                <img src="https://hcm.mobifone.vn/images/logo.svg" alt="MobiFone">
            </a>
        </label>
        {% set nav_items = [
        {
        'name': 'Trang chủ',
        'url': 'home',
        'icon': 'dashboard.svg',
        },
        {
        'name': 'Demo',
        'url': 'table_demo',
        'icon': 'report.svg',
        }
        ] %}
        {% for item in nav_items %}
        {% set color = 'orange' if request.path.startswith(url(item.url) or default(item.url)) else 'gray' %}
        <a href="{{ url(item.url)|default(item.url) }}"
            class="rounded-none h-12 flex items-center px-4 text-{{ color }}-400 {{ color == 'orange' and 'border-r-3 border-'+ color +'-400!' or '' }} peer-checked:text-{{ color }}-500 peer-checked:bg-{{ color }}-100">
            <!-- icon: fixed size, won't shift -->
            <span class="w-6 h-6 flex-shrink-0">{% include item.icon %}</span>

            <!-- label: .nav-label được điều khiển qua selector ở <aside> -->
            <span class="nav-label text-md font-medium">{{ item.name }}</span>
        </a>
        {% endfor %}
    </nav>
</aside>